/*estilos generales*/
html {
  padding: 0.2%;
  margin: 0.2%; }

body {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 110px auto auto 50px;
  grid-template-areas: "header header header" "asideUno sectionUno asideDos" "asideUno sectionDos asideDos" "footer footer footer"; }

header {
  background-color: #FFC0CB;
  grid-area: header;
  display: flex;
  align-items: center;
  width: 100%; }

#logo-empresa {
  width: 100px;
  height: 100px;
  margin-left: -5%;
  animation-name: logo;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 0s; }

@keyframes logo {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1.2; }
  100% {
    opacity: 1.5; } }

#logo-empresa:hover {
  transform: scale(120%); }

/* Menu */
#btn-menu {
  display: none; }

.lista-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; }
  .lista-menu li {
    list-style-type: none; }
    .lista-menu li a {
      text-decoration: none;
      padding: 10px;
      color: black;
      font-style: italic;
      font-weight: bold; }
      .lista-menu li a:hover {
        font-style: normal;
        color: white; }

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center; }

.contenedor-encabezado {
  width: 100%; }

.contenedor-nombre-tienda {
  display: none; }

#imagen-menu {
  display: none; }

.contenedor-logo {
  vertical-align: middle; }

.contenedor-imagen-mobile {
  display: none; }

/* Seccion central */
#sectionUno {
  background-color: white;
  grid-area: sectionUno; }

h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-decoration: underline; }

#sectionDos {
  background-color: white;
  grid-area: sectionDos;
  margin: 1%; }

#sectionDos p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1em; }

h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5vw;
  margin-left: 12%; }

/* Aside izquierdo */
#asideUno {
  background-color: #FFC0CB;
  grid-area: asideUno;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.nuestrasMarcas {
  width: 100px;
  height: auto; }

h3 {
  color: rebeccapurple;
  font-weight: bold; }

h3:hover {
  color: purple;
  text-transform: uppercase; }

/* Aside derecho */
#asideDos {
  background-color: #FFC0CB;
  grid-area: asideDos;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.adopcion {
  width: 100%;
  border-radius: 50%; }

.adopcion:hover {
  transform: scale(110%);
  border: 2px white solid;
  border-radius: 50%; }

/*pie de pagina*/
footer {
  background-color: #d5adc8;
  background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
  grid-area: footer; }
  footer .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px; }
    footer .footer li {
      list-style-type: none; }
      footer .footer li a i {
        color: black; }
    footer .footer #derechos {
      font-family: 'Raleway', sans-serif;
      font-size: 0.8em; }

/*seccion rascadores*/
.fotoRascador {
  width: 50%;
  height: auto; }

#imagenRascadores {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  align-items: center; }

#imagenRascadores div {
  text-align: center; }

/*seccion areneros*/
.imagenArenero {
  width: 65%;
  height: auto; }

#seccionArenero {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  align-items: center; }

#seccionArenero div {
  text-align: center; }

/*seccion jueguetes*/
.imagenJuguetes {
  width: 85%;
  height: auto; }

#seccionJuguetes {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  align-items: center; }

#seccionJuguetes div {
  text-align: center; }

/*seccion contacto*/
.formulario-contacto {
  margin: 2%; }

/*seccion sucursales*/
#seccionSucursales {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -2%; }

#seccionSucursales p {
  text-align: center;
  font-weight: bold;
  font-size: 16pt; }

/*seccion mi cuenta*/
#construccion {
  width: 100%;
  height: auto; }

/* PAGINA ERROR 404 */
.error {
  background-color: #FFC0CB;
  width: 100vw;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column; }

.img404 {
  width: auto;
  height: auto; }

.contenedor-boton-404 {
  width: 100%;
  margin-bottom: 2%; }

.link-home {
  text-decoration: none;
  color: black; }

.link-home:hover {
  color: green;
  font-weight: bold; }

/* Media queries*/
@media (max-width: 850px) {
  #imagen-menu {
    width: 20px;
    height: 20px;
    margin-top: 20%; }
  header label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 8px;
    text-align: center; }
  header label:hover {
    cursor: pointer; }
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; }
  .menu li a {
    text-decoration: none;
    display: block;
    padding: 15px 50px;
    color: white; }
  .menu li:hover {
    background-color: moccasin;
    text-transform: uppercase;
    font-size: 0.8em; }
  .menu {
    position: absolute;
    width: 60%;
    margin-left: -80%; }
  .menu li {
    border-right: 1px solid white;
    background-color: #FFC0CB;
    border-top: 1px solid white; }
  #btn-menu:checked ~ .menu {
    margin: -18%;
    margin-top: 1%;
    z-index: 1; }
  .encabezado {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  body {
    display: grid;
    grid-template-columns: auto 10%;
    grid-template-rows: auto auto auto 50px;
    grid-template-areas: "header header" "sectionUno asideDos" "sectionDos asideDos" "footer footer"; }
  #logo-empresa {
    width: auto;
    height: 60px; }
  #imagen-menu {
    display: block;
    margin-top: -3px; }
  .contenedor-nombre-tienda {
    display: block; }
  .contenedor-encabezado {
    width: auto; }
  #nombre-tienda {
    font-size: 1.5em;
    color: white; }
  #asideUno {
    display: none; }
  #asideDos {
    grid-area: asideDos;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; } }

@media (max-width: 650px) {
  body {
    display: grid;
    grid-template-columns: auto 15%;
    grid-template-rows: auto auto auto 50px;
    grid-template-areas: "header header" "sectionUno asideDos" "sectionDos asideDos" "footer footer"; }
  .carousel {
    display: none; }
  .contenedor-imagen-mobile {
    display: block; }
  .grupo-gatos {
    width: 100%;
    height: auto; }
  h3 {
    font-size: 2vw; } }

@media (max-width: 500px) {
  #btn-menu:checked ~ .menu {
    margin: -7.5%;
    margin-top: 3%; }
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto 50px;
    grid-template-areas: "header" "sectionUno" "sectionDos" "asideDos" "footer"; }
  #asideDos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .adopcion {
    width: 25vw;
    height: auto;
    border-radius: 0%;
    padding: 5px;
    margin-bottom: 5%; }
  h3 {
    font-size: 3vw;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    padding: 5px; } }
