@import "variable";
/* Aside derecho */
#asideDos {
    background-color: $color-fondo;
    grid-area: asideDos;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
  }
  .adopcion {
    width: 100%;
    border-radius: 50%; 
  }
  .adopcion:hover {
    transform: scale(110%);
    border: 2px white solid;
    border-radius: 50%; 
  }
  